:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --gris-claro: #eef1f4;




}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top:  3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border-color: black;
    border-width: 16px;
}

.navegacion-principal a{
    display:
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
   

}
html {
    font-size: 62,5;


}

h1  {
    font-size: 4rem;
}

h1 span {
    font-size: 5rem;


}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;


}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;

}

body {
    background-color: #e0dcdc;;
    background: linear-gradient(0deg,var(--blanco) 100%, var(--gris-claro 0%));
    
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;


}

.bg-color-nav{
 background-color: var(--gris-claro);




}